PORT_NUMBER = 4999
JWT_SECRET = secretssh
DEBUG_MODE = true

#Database 'sqlite' | 'mysql' | 'mariadb' | 'postgres' | 'mssql'
DB_LOGS = false
DB_CLIENT = sqlite
DB_HOSTNAME =
DB_PORT =
DB_NAME =
DB_USER =
DB_PASSWORD =