<%- include('includes/header.ejs')%>
</head>
<body>

<div class="container-lg">
    <div class="row">
        <div class="col">
            <%- include('includes/navbar.ejs')%>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
            <img src="/roket.png" style="height: 300px; width: 300px">
            <h4>HasteJs Install worked successfully! Congratulations!!</h4>
            <p>Now create some module and secure them by middleware.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header">
            HasteJs Documentation
        </div>
        <div class="card-body">
            <h5 class="card-title">HasteJS - A nodejs framework.</h5>
            <p class="card-text">HasteJS is a NodeJs framework, built on top of ExpressJS,
                released as free and open-source software under the MIT Licence.
                It is particularly designed to develop a quick Restful API in record time.</p>
            <a href="https://hastejs.com/" target="_blank" class="btn btn-primary">Visit Documentation</a>
        </div>
    </div>
</div>





</body>
</html>
